.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.errorIcon {
  display: flex;
  background-color: #991a29;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 0.2rem solid white;
  box-sizing: content-box;
  margin-bottom: 1.5rem;
}
.errorMsg {
  color: white;
}
